# OS
.DS_Store


# Editors
.vscode/
.idea/

# Logs
*.log
# Figma
Order_Tracking_Figma/

# Env
.env
.env.*
!.env.example

# Next.js
.next/

# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
